<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>Tạo sản phẩm mới</h1>
                </div>

                <div class="panel-body">
                    <form method="POST">
                        <table class="table table-hover hover-bordered">
                            <tr>
                                <td>Tên</td>
                                <td><input type="text" name="name"/></td>
                            </tr>
                            <tr>
                                <td>Thương hiệu</td>
                                <td><input type="text" name="brand"/></td>
                            </tr>
                            <tr>
                                <td>Số lượng</td>
                                <td><input type="text" name="count"/></td>
                            </tr>
                            <tr>
                                <td>Giá</td>
                                <td><input type="text" name="price"/></td>
                            </tr>
                            <tr>
                                <td colspan="2">                   
                                    <input type="submit" value="Submit" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>     
    </body>
</html>