
<div class="col-sm">
    <div class="card">
        <div class="card-header">
            <strong>Tạo tài khoản mới</strong>
        </div>
        <form action="" method="post" class="form-horizontal">
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="brand" class=" form-control-label">Thể loại</label>
                    </div>
                    <div class="col-12 col-md-4">
                        <select name="id" id="id" class="form-control-lg form-control">
                            <option value="Tài Khoản">Tài Khoản</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="name" class=" form-control-label">Tên tài khoản</label>
                    </div>
                    <div class="col-12 col-md-4"><input type="text" id="name" name="name" placeholder="Tên tài khoản"
                                                        class="form-control">
                        <small class="form-text text-muted">Nhập tên tài khoản</small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="count" class=" form-control-label">Email</label>
                    </div>
                    <div class="col-12 col-md-4"><input type="email" id="count" name="email" placeholder="Email"
                                                        class="form-control">
                        <!--<small class="help-block form-text">Đơn vị: cái</small>-->
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="price" class=" form-control-label">Số điện thoại</label>
                    </div>
                    <div class="col-12 col-md-4"><input type="number" id="sdt" name="sdt" placeholder="Số điện thoại"
                                                        class="form-control">
                        <!--<small class="form-text text-muted">Đơn giá: VNĐ</small>-->
                    </div>
                </div>

            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i> Thêm
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-sync-alt"></i> Nhập lại
                </button>
            </div>
        </form>
    </div>
</div>
