<div id="page-wrapper">
    <div class="privacy py-sm-5 py-4">
        <div class="main-page py-xl-4 py-lg-2">
            <!-- //tittle heading -->
            <table class="table">
                <form method="post">
                    <tbody>
                        <tr>
                            <td>Mã đơn hàng</td>
                            <td><input type="text" name="_id"/></td>
                        </tr>
                        <tr>
                            <td>Tổng tiền</td>
                            <td><input type="text" name="price"/></td>
                        </tr>
                        <tr>
                            <td>Ngày đặt hàng</td>
                            <td><input type="text" name="create"/></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ</td>
                            <td><input type="text" name="address"/></td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td><input type="text" name="phone"/></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Thêm" />
                                <input type="reset" value="Nhập lại" />
                            </td>
                        </tr>
                    </tbody>
                </form>
            </table>
        </div>
    </div>
</div>
