<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Tạo sản phẩm mới</h1>
        </div>

        <div class="panel-body">
            <form method="POST">
                <table class="table table-hover hover-bordered">
                    <tr>
                        <td>Tên</td>
                        <td><input type="text" name="name"/></td>
                    </tr>
                    <tr>
                        <td>Thương hiệu</td>
                        <td><input type="text" name="brand"/></td>
                    </tr>
                    <tr>
                        <td>Số lượng</td>
                        <td><input type="text" name="count"/></td>
                    </tr>
                    <tr>
                        <td>Giá</td>
                        <td><input type="text" name="price"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">                   
                            <input type="submit" value="Submit" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>     