<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <!-- banner-2 -->
        <div class="page-head_agile_info_w3l">

        </div>
        <!-- //banner-2 -->
        <!-- page -->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">
                <div class="container">
                    <ul class="w3_short">
                        <li>
                            <a href="/">Home</a>
                            <i>|</i>
                        </li>
                        <li>Thông tin người dùng</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //page -->
        
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>Thông tin tài khoản</h1>
                </div>
                
                <div class="panel-body">
                    <table class="table table-hover hover-bordered" >
                        <tr>
                            <td>Tên tài khoản</td>
                            <td>ID123</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>******</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td>Tên người dùng</td>
                            <td>Nguyễn Văn A</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>nva@gmail.com</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td>0123456789</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td>Giới tính</td>
                            <td>Nam</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ</td>
                            <td>TP HCM</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>