<div id="page-wrapper">
    <div class="privacy py-sm-5 py-4">
        <div class="main-page py-xl-4 py-lg-2">
            <!-- //tittle heading -->
            <table class="table">
                <thead>
                    <tr>
                        <th class="title3" scope="col">Mã Loại</th>
                        <th scope="col">Loại Sản phẩm</th>
                        <th scope="colgroup">Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if data}}
                    {{#each data}}
                    <tr>
                        <td scope="row">{{this._id}}</td>
                        <td>{{this.name}}</td>
                        <td>
                            <button onclick="window.location.href='/category/update?id={{this._id}}';">Sửa</button>
                            &nbsp&nbsp&nbsp&nbsp
                            <button onclick="window.location.href='/category/delete?id={{this._id}}';">Xóa</a>
                        </td>
                    </tr>
                    {{/each}}
                    {{/if}}
                    <tr>
                        <button onclick="window.location.href='/category/add';">Thêm</button>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>